<!DOCTYPE html>
<html>

<head>
<title>管理员页面</title>
	<meta charset="UTF-8"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<link rel="stylesheet"
	href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript"
	src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>

<body>
	<div class="x-body">
		<button class="layui-btn" id="add_btn">
			<i class="layui-icon"></i> 添加
		</button>
		<span class="x-right" style="line-height: 40px">共有数据：88 条</span>
		</xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>登录名</th>
					<!-- <th>密码</th> -->
					<th>身份</th>
					<th>上次登录IP</th>
					<th>上次登录时间</th>
					<th>操作</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<!-- 添加模态框 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加管理员</h4>
				</div>
				<div class="modal-body" align="center">
					<form class="form-horizontal" id="form">
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>登录名:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="login" name="login"
									placeholder="登录名">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>密码:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="password"
									name="password" placeholder="密码" value="0">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>管理员类型:</label>
							<div class="col-sm-6">
								<select name="system">
									<option value="0" selected="selected">普通管理员</option>
									<option value="1">系统管理员</option>
								</select>
							</div>
						</div>
					</form>
					<div class="layui-form-item" align="center">
						<label for="L_repass" class="layui-form-label"> </label>
						<button class="layui-btn" id="add_admin">增加</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- 修改密码模态框 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改密码</h4>
				</div>
				<div class="modal-body" align="center">
					<form class="form-horizontal" id="form">
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>密码:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="password1" name="password"
									placeholder="密码">
							</div>
						</div>
						<input type="hidden" class="form-control" id="id" name="id">
					</form>
					<div class="layui-form-item" align="center">
						<label for="L_repass" class="layui-form-label"> </label>
						<button class="layui-btn" id="update_admin_password">修改</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		request_list();
		$("#add_btn").click(function() {
			//清空模态框数据
			$("#myModal1").find("input").each(function() {
				$(this).val("");
			});
			$("#myModal1").modal("show");
		});

		$("#add_admin").click(function() {
			$.ajax({
				url : "../admin_add",
				type : "post",
				data : $("#form").serialize(),
				success : function(msg) {
					if (msg.code == 100) {
						$("#myModal1").modal("hide");
						request_list();
					} else {
						layer.msg('增加失败!', {
							icon : 2,
							time : 2000
						});
					}
				},
				error : function(msg) {
					layer.msg('增加失败!', {
						icon : 2,
						time : 2000
					});
				}
			});
		});
		
		$("#update_admin_password").click(function (){
			$.ajax({
				url : "../update_admin_password",
				type : "post",
				data : "id="+$("#id").val()+"&password="+$("#password1").val(),
				success : function(msg) {
					if (msg.code == 100) {
						$("#myModal2").modal("hide");
						layer.msg('修改成功!', {
							icon : 1,
							time : 2000
						});
					} else {
						layer.msg('修改失败!', {
							icon : 2,
							time : 2000
						});
					}
				},
				error : function(msg) {
					layer.msg('修改失败!', {
						icon : 2,
						time : 2000
					});
				}
			});
		});
		
	});
	function request_list() {
		var tbody = $("tbody");
		tbody.empty();
		$.ajax({
			url : "../admin_list",
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					admin_list(msg.map);
				} else {
					layer.msg('查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
	}
	//时间格式转换
	function getMyDate(str) {
		var oDate = new Date(str), oYear = oDate.getFullYear(), oMonth = oDate
				.getMonth() + 1, oDay = oDate.getDate(), oHour = oDate
				.getHours(), oMin = oDate.getMinutes(), oSen = oDate
				.getSeconds(), oTime = oYear + '-' + getzf(oMonth) + '-'
				+ getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin) + ':'
				+ getzf(oSen);//最后拼接时间  
		return oTime;
	};
	//补0操作  
	function getzf(num) {
		if (parseInt(num) < 10) {
			num = '0' + num;
		}
		return num;
	}

	//类型列表
	function admin_list(msg) {
		var tbody = $("tbody");

		for (var i = 0; msg.list[i] != null; i++) {
			var tr = $("<tr></tr>");
			if(msg.list[i].id == msg.admin){
				tr.addClass("btn-info");
			}

			var td2 = $("<td></td>");
			td2.append(msg.list[i].id);
			var td3 = $("<td></td>");
			td3.append(msg.list[i].login);
			var td4 = $("<td></td>");
			td4.append(msg.list[i].password);
			var td6 = $("<td></td>");
			if (msg.list[i].system == 1)
				td6.append("系统管理员");
			else
				td6.append("普通管理员");
			var td7 = $("<td></td>");
			td7.append(msg.list[i].lastIp);
			var td8 = $("<td></td>");
			td8.append(getMyDate(msg.list[i].lastTime));

			var td5 = $("<td></td>");

			var btn_delete = $("<button></button>");
			btn_delete.addClass("btn btn-danger");
			btn_delete.attr("type", "button");
			btn_delete.attr("val", msg.list[i].id);
			btn_delete.append("删除");
			
			var btn_uppass = $("<button></button>");
			btn_uppass.addClass("btn btn-warning");
			btn_uppass.attr("type", "button");
			btn_uppass.attr("val", msg.list[i].id);
			btn_uppass.append("修改密码");

			if (msg.list[i].id != 1) {
				if(msg.admin == 1)
					td5.append(btn_delete).append(btn_uppass);
				
				else{
					if(msg.list[i].system != 1){
						td5.append(btn_delete).append(btn_uppass);
					}
				}
			}
			if(msg.list[i].id == msg.admin)
				td5.append(btn_uppass);
			tr.append(td2).append(td3)/* .append(td4) */.append(td6).append(td7)
					.append(td8).append(td5);

			tbody.append(tr);
		}
		$(".btn-warning").each(function (){
			var v = $(this).attr("val");
			$(this).click(function (){
				$("#id").val(v);
				$("#myModal2").modal("show");
			});
		});
		
		$(".btn-danger").each(function() {
			$(this).click(function() {
				//删除
				del($(this), $(this).attr("val"));
			});
		});
		$(".x-right").text("共有数据:" + i + "条数据");
		$(".x-right").attr("val", i);
	}

	function del(ele, id) {
		layer.confirm('确认要删除吗？', function(index) {
			$(ele).parent().parent().remove();
			$.ajax({
				url : "../admin_delete",
				data : "id=" + id,
				type : "post",
				success : function(msg) {
					layer.msg('已删除!', {
						icon : 1,
						time : 2000
					});
					var i = $(".x-right").attr("val") - 1;
					$(".x-right").attr("val", i);
					$(".x-right").text("共有数据:" + i + "条数据");
				},
				error : function() {
					layer.msg('删除失败!', {
						icon : 2,
						time : 2000
					});
				}
			});

		});
	}
</script>
</html>