<!DOCTYPE html>
<html>
<head>
<title>后台主页</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script type="text/javascript" src="../libs/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../libs/xadmin.js"></script>
<script src="../layui/layui.js" charset="utf-8"></script>

</head>
<body>
	<!-- 顶部开始 -->
	<div class="container">
		<div class="logo">
			<a href="./index.html">后台管理系统</a>
		</div>
		<div class="left_open">
			<i title="展开左侧栏" class="iconfont">&#xe699;</i>
		</div>
		<ul class="layui-nav right" lay-filter="">
			<li class="layui-nav-item"><a href="javascript:;" id="admin">admin</a>
				<dl class="layui-nav-child">
					<!-- 二级菜单 -->
					<dd>
						<a href="#" id="exit">退出</a>
					</dd>
				</dl></li>
		</ul>

	</div>
	<!-- 顶部结束 -->
	<!-- 中部开始 -->
	<!-- 左侧菜单开始 -->
	<div class="left-nav">
		<div id="side-nav">
			<ul id="nav">
				<li style="display: none;" id="huiyuan"><a href="javascript:;">
						<i class="iconfont">&#xe6b8;</i> <cite>会员管理</cite> <i
						class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="user.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>会员列表</cite>

						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe6b5;</i>
						<cite>类别管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="category.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>类别列表</cite>

						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe6b5;</i>
						<cite>商品管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="product.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>商品列表</cite>

						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe723;</i>
						<cite>订单管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="order.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>订单列表</cite>
						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe723;</i>
						<cite>活动管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="activity.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>活动列表</cite>
						</a></li>
					</ul></li>
				<li style="display: none;" id="guanliyuan"><a
					href="javascript:;"> <i class="iconfont">&#xe726;</i> <cite>管理员管理</cite>
						<i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="admin.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>管理员列表</cite>
						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe6ce;</i>
						<cite>销售管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li><a _href="report-list.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>报表查询</cite>
						</a></li>
						<li><a _href="report.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>报表柱状图</cite>
						</a></li>
					</ul></li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe723;</i>
						<cite>退款售后</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">
						<li><a _href="refund-list.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>退款售后查询</cite>
						</a></li>
					</ul>
					</li>
				<li><a href="javascript:;"> <i class="iconfont">&#xe723;</i>
						<cite>反馈管理</cite> <i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">
						<li><a _href="feedback.html"> <i class="iconfont">&#xe6a7;</i>
								<cite>反馈列表</cite>
						</a></li>
					</ul>
					</li>
			</ul>
		</div>
	</div>
	<!-- <div class="x-slide_left"></div> -->
	<!-- 左侧菜单结束 -->
	<!-- 右侧主体开始 -->
	<div class="page-content">
		<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
			<ul class="layui-tab-title">
				<li>我的桌面</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<iframe src='welcome.html' frameborder="0" scrolling="yes"
							class="x-iframe"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content-bg"></div>
	<!-- 右侧主体结束 -->
	<!-- 中部结束 -->
	<!-- 底部开始 -->
	<div class="footer">
		<div class="copyright">&nbsp;</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		//检查登录状态
		check_login();
		//退出
		$("#exit").click(function() {
			$.ajax({
				url : "../exit",
				type : "post",
				success : function(msg) {
					//退出成功
					if (msg.code == 200) {
						$(location).prop('href', 'login.html');
					}//登录成功
					else {
						layer.msg('退出失败', {
							icon : 1,
							time : 1000
						});
					}
				},
				error : function(msg) {
					layer.msg('退出失败!', {
						icon : 2,
						time : 1000
					});
				}
			});
		});
	});
	//检查登录状态
	function check_login() {
		$.ajax({
			url : "../check_login",
			type : "post",
			success : function(msg) {
				//登录成功
				if (msg.code == 200) {
                    $("#admin").text(msg.data.admin.login);
                    if (msg.data.admin.system == 1) {
                        $("#huiyuan").attr("style", "display:block;");
                        $("#guanliyuan").attr("style", "display:block;");
                    }
				}//登录失败
				else {
                    $(location).prop('href', 'login.html');
				}
			},
			error : function(msg) {
				layer.msg('登录失败!', {
					icon : 2,
					time : 1000
				});
			}
		});
	}
</script>
</html>