<!DOCTYPE html>
<html>

<head>
<title>订单界面</title>
	<meta charset="UTF-8"/>
<link rel="stylesheet"
	href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>

<body>
	<input type="hidden" id="page_message" value="1" />
	<div class="x-body">
		<div class="layui-row">
			<div class="layui-form layui-col-md12 x-so">
				<input class="layui-input" placeholder="开始日" name="start" id="start">
				<input class="layui-input" placeholder="截止日" name="end" id="end">
				<div class="layui-input-inline">
					<select name="contrller" id="contrller">
						<option value="">订单状态</option>
						<option value="0">未支付</option>
						<option value="1">待发货</option>
						<option value="2">待收货</option>
						<option value="3">待评价</option>
						<option value="4">已完成</option>
					</select>
				</div>
				<button class="layui-btn">
					<i class="layui-icon">&#xe615;</i>
				</button>
				<div id="message"></div>
			</div>
		</div>
		<table class="layui-table">
			<thead>
				<tr>
					<th>订单id</th>
					<th>总金额</th>
					<th>订单状态</th>
					<th>配送方式</th>
					<th>下单时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="page">
			<div id="page_info"></div>
			<div id="page_nav"></div>
		</div>
	</div>

	<!-- 查看模态框 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">查看详细订单</h4>
				</div>
				<div class="modal-body">
					<form id="form_forder" class="form-horizontal">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		//商品列表
		$("#page_message").val(1);
		request_list2(1);
		$(".layui-btn").click(
				function() {
					$.ajax({
						url : "../forder_search",
						data : "start=" + $("#start").val() + "&end="
								+ $("#end").val() + "&contrller="
								+ $("#contrller").val(),
						type : "post",
						success : function(msg) {
							if (msg.code == 100) {
								//类型列表
								$("#page_message").val(1);
								request_list2(1);
							} else {
								layer.msg('查找不存在!', {
									icon : 2,
									time : 2000
								});
							}
						},
						error : function(msg) {
							layer.msg('查找不存在!', {
								icon : 2,
								time : 2000
							});
						}
					});
				});

	});
	//时间格式转换
	function getMyDate(str) {
		var oDate = new Date(str), oYear = oDate.getFullYear(), oMonth = oDate
				.getMonth() + 1, oDay = oDate.getDate(), oHour = oDate
				.getHours(), oMin = oDate.getMinutes(), oSen = oDate
				.getSeconds(), oTime = oYear + '-' + getzf(oMonth) + '-'
				+ getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin) + ':'
				+ getzf(oSen);//最后拼接时间  
		return oTime;
	};
	//补0操作  
	function getzf(num) {
		if (parseInt(num) < 10) {
			num = '0' + num;
		}
		return num;
	}

	//订单列表
	function request_list2(pageNum) {
		var tbody = $("#tbody");
		tbody.empty();
		$.ajax({
			url : "../forder_list",
			data : "pageNum=" + pageNum,
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					forder_list(msg.map.pageInfo);
					to_page_nav(msg);
					to_page_info(msg);
					if (msg.map.sear != undefined) {
						$("#message").empty();
						$("#message").append("当前搜索关键字:").append(msg.map.sear);
					} else {
						$("#message").empty();
					}
				} else {
					layer.msg('没有该信息!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
	}
	//订单列表
	function forder_list(msg) {
		var tbody = $("tbody");
		tbody.empty();
		for (var i = 0; msg.list[i] != null; i++) {
			var tr = $("<tr></tr>");

			var td2 = $("<td></td>");
			td2.append(msg.list[i].id);
			var td3 = $("<td></td>");
			td3.append(msg.list[i].total);
			var td4 = $("<td></td>");
			if (msg.list[i].status == 0)
				td4.append("未支付");
			else if (msg.list[i].status == 1)
				td4.append("待发货");
			else if (msg.list[i].status == 2)
				td4.append("待收货");
			else if (msg.list[i].status == 3)
				td4.append("待评价");
			else if (msg.list[i].status == 4)
				td4.append("已完成");
			else
				td4.append("未知状态");
			var td6 = $("<td></td>");
			if (msg.list[i].payment == 0)
				td6.append("银联");
			else if (msg.list[i].payment == 1)
				td6.append("微信支付");
			else if (msg.list[i].payment == 2)
				td6.append("支付宝支付");
			else
				td6.append("未知支付方式");
			var td7 = $("<td></td>");
			if (msg.list[i].logistics == 0)
				td7.append("圆通");
			else if (msg.list[i].logistics == 1)
				td7.append("申通");
			else if (msg.list[i].logistics == 2)
				td7.append("韵达");
			else if (msg.list[i].logistics == 3)
				td7.append("中通");
			else if (msg.list[i].logistics == 4)
				td7.append("京东");
			else
				td7.append("其他物流");
			var td8 = $("<td></td>");
			td8.append(getMyDate(msg.list[i].addDate));

			var btn_look = $("<button></button>");
			btn_look.addClass("btn btn-success look");
			btn_look.attr("type", "button");
			btn_look.attr("val", msg.list[i].id);
			btn_look.append("查看详细订单");
			
			var btn_deliver = $("<button></button>");
			btn_deliver.addClass("btn btn-warning deliver");
			btn_deliver.attr("type", "button");
			btn_deliver.attr("val", msg.list[i].id);
			btn_deliver.append("发货");

			var td5 = $("<td></td>");
			if(msg.list[i].status>0)
				td5.append(btn_look);
			if(msg.list[i].status == 1)
				td5.append(btn_deliver);
			tr.append(td2).append(td3).append(td4).append(td7)
					.append(td8).append(td5);

			tbody.append(tr);

		}
		
		$(".deliver").each(function (){
			var v = $(this).attr("val");
			$(this).click(function (){
				$.ajax({
					url : "../forder_deliver",
					data : "id=" + v,
					type : "post",
					success : function(msg) {
						if (msg.code == 100) {
							request_list2($("#page_message").val());
						} else {
							layer.msg('发货失败!', {
								icon : 2,
								time : 2000
							});
						}
					},
					error : function(msg) {
						layer.msg('发货失败!', {
							icon : 2,
							time : 2000
						});
					}
				});
			});
		});
		
			$(".look").each(function() {
				var v = $(this).attr("val");
				$(this).click(function() {
					$.ajax({
						url : "../request_forder",
						data : "id=" + v,
						type : "post",
						success : function(msg) {
							if (msg.code == 100) {
								var form = $("#form_forder");
								form.empty();
								
								var div1 = $("<div></div>");
								div1.addClass("form-group");
								var la1 = $("<label></label>");
								la1.addClass("col-sm-4 control-label");
								la1.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la1.append("订单号:");
								var div1_1 = $("<div></div>");
								div1_1.addClass("col-sm-6");
								var input1 = $("<input/>");
								input1.attr("type","text");
								input1.addClass("form-control");
								input1.attr("placeholder","订单号");
								input1.attr("readonly",true);
								input1.val(msg.map.forder.id);
								div1_1.append(input1);
								div1.append(la1).append(div1_1);
								form.append(div1);
								
								var div2 = $("<div></div>");
								div2.addClass("form-group");
								var la2 = $("<label></label>");
								la2.addClass("col-sm-4 control-label");
								la2.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la2.append("用户名:");
								var div2_1 = $("<div></div>");
								div2_1.addClass("col-sm-6");
								var input2 = $("<input/>");
								input2.attr("type","text");
								input2.addClass("form-control");
								input2.attr("placeholder","用户名");
								input2.attr("readonly",true);
								input2.val(msg.map.user.name);
								div2_1.append(input2);
								div2.append(la2).append(div2_1);
								form.append(div2);
								
								
								var div3 = $("<div></div>");
								div3.addClass("form-group");
								var la3 = $("<label></label>");
								la3.addClass("col-sm-4 control-label");
								la3.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la3.append("收货人:");
								var div3_1 = $("<div></div>");
								div3_1.addClass("col-sm-6");
								var input3 = $("<input/>");
								input3.attr("type","text");
								input3.addClass("form-control");
								input3.attr("placeholder","收货人");
								input3.attr("readonly",true);
								input3.val(msg.map.userAddress.name);
								div3_1.append(input3);
								div3.append(la3).append(div3_1);
								form.append(div3);
								
								
								var div4 = $("<div></div>");
								div4.addClass("form-group");
								var la4 = $("<label></label>");
								la4.addClass("col-sm-4 control-label");
								la4.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la4.append("收货电话:");
								var div4_1 = $("<div></div>");
								div4_1.addClass("col-sm-6");
								var input4 = $("<input/>");
								input4.attr("type","text");
								input4.addClass("form-control");
								input4.attr("placeholder","收货电话");
								input4.attr("readonly",true);
								input4.val(msg.map.userAddress.phone);
								div4_1.append(input4);
								div4.append(la4).append(div4_1);
								form.append(div4);
								
								
								var div5 = $("<div></div>");
								div5.addClass("form-group");
								var la5 = $("<label></label>");
								la5.addClass("col-sm-4 control-label");
								la5.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la5.append("收货地址:");
								var div5_1 = $("<div></div>");
								div5_1.addClass("col-sm-6");
								var input5 = $("<textarea></textarea>");
								input5.addClass("form-control");
								input5.attr("placeholder","收货地址");
								input5.attr("readonly",true);
								input5.val(msg.map.userAddress.address);
								div5_1.append(input5);
								div5.append(la5).append(div5_1);
								form.append(div5);
								
								
								/* var div6 = $("<div></div>");
								div6.addClass("form-group");
								var la6 = $("<label></label>");
								la6.addClass("col-sm-4 control-label");
								la6.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la6.append("邮政编码:");
								var div6_1 = $("<div></div>");
								div6_1.addClass("col-sm-6");
								var input6 = $("<input/>");
								input6.attr("type","text");
								input6.addClass("form-control");
								input6.attr("placeholder","邮政编码");
								input6.attr("readonly",true);
								input6.val(msg.map.userAddress.post);
								div6_1.append(input6);
								div6.append(la6).append(div6_1);
								form.append(div6); */
								
								var div7 = $("<div></div>");
								div7.addClass("form-group");
								var la7 = $("<label></label>");
								la7.addClass("col-sm-4 control-label");
								la7.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la7.append("订单状态:");
								var div7_1 = $("<div></div>");
								div7_1.addClass("col-sm-6");
								var input7 = $("<input/>");
								input7.attr("type","text");
								input7.addClass("form-control");
								input7.attr("placeholder","订单状态");
								input7.attr("readonly",true);
								if(msg.map.forder.status == 0)
									input7.val("未支付");
								else if(msg.map.forder.status == 1)
									input7.val("待发货");
								else if(msg.map.forder.status == 2)
									input7.val("待收货");
								else if(msg.map.forder.status == 3)
									input7.val("待评价");
								else if(msg.map.forder.status == 4)
									input7.val("已完成");
								else
									input7.val("未知状态");
								div7_1.append(input7);
								div7.append(la7).append(div7_1);
								form.append(div7);
								
								
								
								/* var div8 = $("<div></div>");
								div8.addClass("form-group");
								var la8 = $("<label></label>");
								la8.addClass("col-sm-4 control-label");
								la8.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la8.append("支付方式:");
								var div8_1 = $("<div></div>");
								div8_1.addClass("col-sm-6");
								var input8 = $("<input/>");
								input8.attr("type","text");
								input8.addClass("form-control");
								input8.attr("placeholder","支付方式");
								input8.attr("readonly",true);
								if(msg.map.forder.payment == 0)
									input8.val("银联");
								else if(msg.map.forder.payment == 1)
									input8.val("微信支付");
								else if(msg.map.forder.payment == 2)
									input8.val("支付宝支付");
								else
									input8.val("未知状态");
								div8_1.append(input8);
								div8.append(la8).append(div8_1);
								form.append(div8); */
								
								
								
								var div9 = $("<div></div>");
								div9.addClass("form-group");
								var la9 = $("<label></label>");
								la9.addClass("col-sm-4 control-label");
								la9.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la9.append("物流方式:");
								var div9_1 = $("<div></div>");
								div9_1.addClass("col-sm-6");
								var input9 = $("<input/>");
								input9.attr("type","text");
								input9.addClass("form-control");
								input9.attr("placeholder","物流方式");
								input9.attr("readonly",true);
								if(msg.map.forder.logistics == 0)
									input9.val("圆通");
								else if(msg.map.forder.logistics == 1)
									input9.val("申通");
								else if(msg.map.forder.logistics == 2)
									input9.val("韵达");
								else if(msg.map.forder.logistics == 3)
									input9.val("中通");
								else if(msg.map.forder.logistics == 4)
									input9.val("申通");
								else
									input9.val("其他物流");
								div9_1.append(input9);
								div9.append(la9).append(div9_1);
								form.append(div9);
								
								var div10 = $("<div></div>");
								div10.addClass("form-group");
								var ta = $("<table></table>");
								ta.addClass("layui-table");
								var tr1 = $("<tr></tr>");
								var th1 = $("<th></th>");
								th1.append("商品号");
								var th2 = $("<th></th>");
								th2.append("商品名");
								var th3 = $("<th></th>");
								th3.append("商品价格");
								var th4 = $("<th></th>");
								th4.append("商品数量");
								tr1.append(th1).append(th2).append(th3).append(th4);
								ta.append(tr1);
								var tbody = $("<tbody></tbody>");
								for(var i = 0;msg.map.listSorder[i] != null; i++ ){
									var tr2 = $("<tr></tr>");
									var td1 = $("<td></td>");
									td1.append(msg.map.listSorder[i].id);
									var td2 = $("<td></td>");
									td2.append(msg.map.listSorder[i].name);
									var td3 = $("<td></td>");
									td3.append(msg.map.listSorder[i].price);
									var td4 = $("<td></td>");
									td4.append(msg.map.listSorder[i].number);
									tr2.append(td1).append(td2).append(td3).append(td4);
									tbody.append(tr2);
								}
								ta.append(tbody);
								div10.append(ta);
								form.append(div10);
								
								
								var div12 = $("<div></div>");
								div12.addClass("form-group");
								var la12 = $("<label></label>");
								la12.addClass("col-sm-4 control-label");
								la12.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la12.append("订单生成时间:");
								var div12_1 = $("<div></div>");
								div12_1.addClass("col-sm-6");
								var input12 = $("<input/>");
								input12.attr("type","text");
								input12.addClass("form-control");
								input12.attr("placeholder","订单生成时间");
								input12.attr("readonly",true);
								input12.val(getMyDate(msg.map.forder.addDate));
								div12_1.append(input12);
								div12.append(la12).append(div12_1);
								form.append(div12);
								
								console.log(msg);
								if(msg.map.forder.successTime != null){
									var div13 = $("<div></div>");
									div13.addClass("form-group");
									var la13 = $("<label></label>");
									la13.addClass("col-sm-4 control-label");
									la13.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
									la13.append("订单完成时间:");
									var div13_1 = $("<div></div>");
									div13_1.addClass("col-sm-6");
									var input13 = $("<input/>");
									input13.attr("type","text");
									input13.addClass("form-control");
									input13.attr("placeholder","订单完成时间");
									input13.attr("readonly",true);
									input13.val(getMyDate(msg.map.forder.successTime));
									div13_1.append(input13);
									div13.append(la13).append(div13_1);
									form.append(div13);
								}
								
								var div11 = $("<div></div>");
								div11.addClass("form-group");
								var la11 = $("<label></label>");
								la11.addClass("col-sm-4 control-label");
								la11.attr("style","padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;");
								la11.append("总金额:");
								var div11_1 = $("<div></div>");
								div11_1.addClass("col-sm-6");
								var input11 = $("<input/>");
								input11.attr("type","text");
								input11.addClass("form-control");
								input11.attr("placeholder","总金额");
								input11.attr("readonly",true);
								input11.val(msg.map.forder.total+"元");
								div11_1.append(input11);
								div11.append(la11).append(div11_1);
								form.append(div11);
							} else {
								layer.msg('请求失败!', {
									icon : 2,
									time : 2000
								});
							}
						},
						error : function(msg) {
							layer.msg('请求失败!', {
								icon : 2,
								time : 2000
							});
						}
					});
					$("#myModal").modal("show");
				});
			});

	}
	//页码
	function to_page_info(msg) {
		$("#page_info").empty();
		$("#page_info").append(
				"当前第" + msg.map.pageInfo.pageNum + "页,一共有"
						+ msg.map.pageInfo.pages + "页,一共有"
						+ msg.map.pageInfo.total + "条数据");
		pages = msg.map.pageInfo.pages + 1;
	}
	//页码
	function to_page_nav(msg) {
		$("#page_nav").empty();
		//nav
		var nav = $("<nav></nav>");

		//ul
		var ul = $("<ul></ul>").addClass("pagination");

		//首页
		var firstPageLi = $("<li></li>").append(
				$("<a></a>").append("首页").attr("href", "#"));
		ul.append(firstPageLi);
		firstPageLi.click(function() {
			$("#page_message").val(1);
			request_list2(1);
		});
		//上一页
		var prePageLi = $("<li></li>").append(
				$("<a></a>").append("&laquo;").attr("href", "#"));
		ul.append(prePageLi);
		if (msg.map.pageInfo.hasPreviousPage == false) {
			firstPageLi.addClass("disabled");
			prePageLi.addClass("disabled");
		} else {
			prePageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum - 1);
				request_list2(msg.map.pageInfo.pageNum - 1);
			});
		}
		//页码
		$.each(msg.map.pageInfo.navigatepageNums, function(index, item) {
			var numLi = $("<li></li>").append(
					$("<a></a>").append(item).attr("href", "#"));
			if (msg.map.pageInfo.pageNum == item) {
				numLi.addClass("active");
			}
			numLi.click(function() {
				$("#page_message").val(item);
				request_list2(item);
			});
			ul.append(numLi);
		});

		//下一页
		var nextPageLi = $("<li></li>").append(
				$("<a></a>").append("&raquo;").attr("href", "#"));
		ul.append(nextPageLi);
		//末页
		var lastPageLi = $("<li></li>").append(
				$("<a></a>").append("末页").attr("href", "#"))
		ul.append(lastPageLi);
		if (msg.map.pageInfo.hasNextPage == false) {
			nextPageLi.addClass("disabled");
			lastPageLi.addClass("disabled");
		} else {
			nextPageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum + 1);
				request_list2(msg.map.pageInfo.pageNum + 1);
			});
		}
		lastPageLi.click(function() {
			$("#page_message").val(msg.map.pageInfo.pages);
			request_list2(msg.map.pageInfo.pages);
		});
		//
		nav.append(ul).appendTo("#page_nav");
	}

	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem : '#start' //指定元素
		});

		//执行一个laydate实例
		laydate.render({
			elem : '#end' //指定元素
		});
	});
</script>
</html>