<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>产品列表</title>
	<meta charset="UTF-8"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<link rel="stylesheet" href="../static/css/fileinput.min.css">
<link rel="stylesheet"
	href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src="../static/js/fileinput.js"></script>
<script type="text/javascript"
	src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function() {
		//商品列表
		request_list2(1);
		$("#page_message").val(1);
		//增加商品模态框
		$("#product_add").click(function() {
			var sele = $("#category_id");
			show_modal(sele);
			$("#myModal1").modal("show");
		});
		//搜索功能
		$("#search").click(function() {
			product_search();
		});
		//添加商品
		$("#product_add1").click(function() {
			product_add();
			$("#myModal1").modal("hide");
			$("#page_message").val(1000);
			request_list2(1000);
		});
		
		$("#save_img").click(function(){
			 update_img();
			 $("#myModal_img").modal("hide");
			 request_list2($("#page_message").val());
		});
		$("#update_product").click(function(){
			var formData = new FormData($("#form_update")[0]);
			$.ajax({
				url : "../update_product",
				data :  formData,
				type : "post",
				async : false,
				cache : false,
				contentType : false,
				processData : false,
				success : function(msg) {
					if (msg.code == 100) {
						layer.msg("添加成功", {
							icon : 1,
							time : 2000
						});
						request_list2($("#page_message").val());
						$("#myModal2").modal("hide");
					}
					else {
						layer.msg("添加失败", {
							icon : 2,
							time : 2000
						});
					}
				},
				error : function() {
					layer.msg("添加失败!!", {
						icon : 2,
						time : 2000
					});
				}
			});
		});


	});
	
	//修改图像
	function update_img(){
		var formData = new FormData($("#form_img")[0]);
		$.ajax({
			url : "../update_img",
			data : formData,
			async : false,
			cache : false,
			contentType : false,
			processData : false,
			type : "post",
			success : function(msg) {
				//登录成功
				if (msg.code == 100) {
					layer.msg("修改成功", {
						icon : 1,
						time : 2000
					});
				}//登录失败
				else {
					layer.msg("修改失败", {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function() {
				layer.msg("修改失败!!", {
					icon : 2,
					time : 2000
				});
			}
		});
	}

	//添加商品
	function product_add() {
		var i = 0;
		var msg = "";
		var name = $("#name1").val();
		var spec = $("#spec1").val();
		var price = $("#price1").val();
		if (name == "") {
			i++;
			msg += "商品名不能为空;";
		}
		if (price == "") {
			i++;
			msg += "价格不能为空;";
		}
		if (spec == "") {
			i++;
			msg += "单位不能为空;";
		}

		var formData = new FormData($("#form")[0]);

		if (i == 0) {
			$.ajax({
				url : "../product_add",
				data : formData/* $("#form").serialize() */,
				async : false,
				cache : false,
				contentType : false,
				processData : false,
				type : "post",
				success : function(msg) {
					//登录成功
					if (msg.code == 100) {
						layer.msg("添加成功", {
							icon : 1,
							time : 2000
						});
					}//登录失败
					else {
						layer.msg("添加失败", {
							icon : 2,
							time : 2000
						});
					}
				},
				error : function() {
					layer.msg("添加失败!!", {
						icon : 2,
						time : 2000
					});
				}
			});

		} else {
			layer.msg(msg, {
				icon : 2,
				time : 2000
			});
		}

	}
	//增加商品模态框
	function show_modal(sele) {
		$("#myModal1").find("input").each(function() {
			$(this).val("");
		});
		$.ajax({
			url : "../product_select_category",
			type : "post",
			async : false,//同步运行
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					sele.empty();
					for (var i = 0; msg.map.list[i] != null; i++) {
						var op = $("<option></option>");
						op.attr("value", msg.map.list[i].id);
						op.append(msg.map.list[i].type);
						sele.append(op);
					}
				} else {
					layer.msg('查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
		
	}

	//搜索
	function product_search() {
		var s = $("#search_p").val();
		$.ajax({
			url : "../product_search",
			data : "str=" + s,
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					$("#page_message").val(1);
					request_list2(1);
				} else {
					layer.msg('查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
	}

	//类型列表
	function request_list2(pageNum) {
		var tbody = $("#tbody");
		tbody.empty();
		$.ajax({
			url : "../product_list",
			data : "pageNum=" + pageNum,
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					product_list(msg.map.pageInfo);
					to_page_nav(msg);
					to_page_info(msg);
					if (msg.map.sear != undefined) {
						$("#message").empty();
						$("#message").append("当前搜索关键字:").append(msg.map.sear);
					} else {
						$("#message").empty();
					}
				} else {
					layer.msg('查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
	}
	//类型列表
	function product_list(msg) {
		var tbody = $("tbody");
		tbody.empty();
		for (var i = 0; msg.list[i] != null; i++) {
			var tr = $("<tr></tr>");

			var td2 = $("<td></td>");
			td2.append(msg.list[i].id);
			var td3 = $("<td></td>");
			var img_img = $("<img/>");
			img_img.attr("style", "width:100px;height:100px;");
			
			
			$.ajax({
				url : "../find_img",
				data : "id=" + msg.list[i].id,
				type : "post",
				async : false,
				success : function(ms) {
					if (ms.code == 100) {
						//类型列表
						img_img.attr("src", ms.map.p+ms.map.list[0].path);
					} else {
						
						img_img.attr("src", ms.map.p+"1.jpg");
					}
				},
				error : function(ms) {
					layer.msg('查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			});
			
			
			
			
			td3.append(img_img);
			var td4 = $("<td></td>");
			td4.append(msg.list[i].name);
			var td6 = $("<td></td>");
			td6.append(msg.list[i].price);
			var td7 = $("<td></td>");
			td7.append(msg.list[i].spec);
			var td8 = $("<td></td>");
			td8.append(select_category(msg.list[i].categoryId));
			var td9 = $("<td></td>");
			td9.append(msg.list[i].monthSale);
			var td10 = $("<td></td>");
			td10.append(msg.list[i].sale);
			var td11 = $("<td></td>");
			

			var td5 = $("<td></td>");

			var btn_delete = $("<button></button>");
			btn_delete.addClass("btn btn-danger dang_dang");
			btn_delete.attr("type", "button");
			btn_delete.attr("val", msg.list[i].id);
			btn_delete.append("删除");

			var btn_update = $("<button></button>");
			btn_update.addClass("btn btn-warning");
			btn_update.attr("type", "button");
			btn_update.attr("val", i);
			btn_update.append("修改");

			var btn_img = $("<button></button>");
			btn_img.addClass("btn btn-success");
			btn_img.attr("type", "button");
			btn_img.attr("val", msg.list[i].id);
			btn_img.append("修改图像");
			
			var btn_open = $("<button></button>");
			btn_open.addClass("btn btn-info product_open");
			btn_open.attr("type", "button");
			btn_open.attr("val", msg.list[i].id);
			btn_open.append("上架");
			
			var btn_down = $("<button></button>");
			btn_down.addClass("btn btn-danger product_down");
			btn_down.attr("type", "button");
			btn_down.attr("val", msg.list[i].id);
			btn_down.append("下架");
			
			if (msg.list[i].open == 1) {
				var b = $("<b></b>");
				b.addClass("btn btn-info");
				b.append("已上架");
				td11.append(b);
				td5.append(btn_down);
			} else {
				var b = $("<b></b>");
				b.addClass("btn btn-danger");
				b.append("已下架");
				td11.append(b);
				td5.append(btn_delete).append(btn_update);
				td5.append(btn_open);
			}

			td5.append(btn_img);
			tr.append(td2).append(td3).append(td4).append(td6).append(td7)
					.append(td8).append(td9).append(td10).append(td11).append(
							td5);

			tbody.append(tr);
		}
		 $(".dang_dang").each(function() {
			$(this).click(function() {
				//删除商品
				del($(this), $(this).attr("val"));
			});
		}); 
		$(".btn-warning").each(function() {
			var th = $(this).attr("val");
			$(this).click(function() {
				var sele = $("#category_id2");
				$("#productId").val(msg.list[th].id);
				show_modal(sele);
				$("#name2").val(msg.list[th].name);
				$("#price2").val(msg.list[th].price);
				$("#spec2").val(msg.list[th].spec);
				var cid = msg.list[th].categoryId;
				$("#category_id2").val(cid);
				$("#remark2").val(msg.list[th].remark);
				$("#xremark2").val(msg.list[th].xremark);
				
				$("#myModal2").modal("show");
			});
		});
		
		$(".product_open").each(function(){
			var a = $(this);
			$(this).click(function() {
				$.ajax({
					url : "../product_open",
					data : "id=" + a.attr("val"),
					type : "post",
					success : function(msg) {
						if (msg.code == 100) {
							//请求图像
							request_list2($("#page_message").val());
						} else {
							layer.msg('上架失败!', {
								icon : 2,
								time : 2000
							});
						}
					},
					error : function(msg) {
						layer.msg('上架失败!', {
							icon : 2,
							time : 2000
						});
					}
				});
			});
		});
		
		$(".product_down").each(function(){
			var a = $(this);
			$(this).click(function() {
				$.ajax({
					url : "../product_down",
					data : "id=" + a.attr("val"),
					type : "post",
					success : function(msg) {
						if (msg.code == 100) {
							//请求图像
							request_list2($("#page_message").val());
						} else {
							layer.msg('下架失败!', {
								icon : 2,
								time : 2000
							});
						}
					},
					error : function(msg) {
						layer.msg('下架失败!', {
							icon : 2,
							time : 2000
						});
					}
				});
			});
		});

		$(".btn-success").each(function() {
			var a = $(this);
			$(this).click(function() {
				$.ajax({
					url : "../request_img",
					data : "id=" + a.attr("val"),
					type : "post",
					success : function(msg) {
						if (msg.code == 100) {
							//请求图像
							request_img(msg,a.attr("val"));
						} else {
							layer.msg('查找失败!', {
								icon : 2,
								time : 2000
							});
						}
					},
					error : function(msg) {
						layer.msg('查找失败!', {
							icon : 2,
							time : 2000
						});
					}
				});
				$("#myModal_img").find("input").each(function(){
					$(this).empty();
				});
				$("#myModal_img").modal("show");
			});
		});
	}
	//删除商品
	function del(ele, id) {
		layer.confirm('确认要删除吗？', function(index) {
			$(ele).parent().parent().remove();
			 $.ajax({
				url : "../product_delete",
				data : "id=" + id,
				type : "post",
				success : function(msg) {
					layer.msg('已删除!', {
						icon : 1,
						time : 2000
					});
				},
				error : function() {
					layer.msg('删除失败!', {
						icon : 2,
						time : 2000
					});
				}
			}); 

		});
	}
	//请求图像
	function request_img(msg,id){
		var form = $("#form_img");
		form.empty();
		var i = $("<input/>");
		i.attr("type","hidden");
		i.attr("name","id");
		i.val(id);
		form.append(i);
		//类型1
		var div1 = $("<div></div>");
		div1.addClass("row");
		var la1 = $("<label></label>");
		la1.addClass("col-sm-4 control-label");
		la1.attr("style","padding-top: 55px; text-align: right; font-size: 18px; font-family: 楷体;");
		la1.append("搜索图片:");
		var div1_1 = $("<div></div>");
		div1_1.addClass("col-md-3");
		var a1 = $("<a></a>");
		a1.attr("href","#");
		a1.attr("class","thumbnail");
		var img1 = $("<img/>");
		if(msg.map.type1 != undefined){
			img1.attr("src",msg.map.p+msg.map.type1.path);
		}else{
			img1.attr("src","../static/img/"+"1.jpg");
		}
		
		var input1 = $("<input/>");
		input1.attr("type","file").attr("name","file1").attr("class","file_img");
		var hr = $("<hr/>");
		a1.append(img1);
		div1_1.append(a1).append(input1);
		div1.append(la1).append(div1_1);
		form.append(div1).append(hr);
		
		
		
		//类型2
		var div2 = $("<div></div>");
		div2.addClass("row");
		var la2 = $("<label></label>");
		la2.addClass("col-sm-4 control-label");
		la2.attr("style","padding-top: 55px; text-align: right; font-size: 18px; font-family: 楷体;");
		la2.append("主页图片:");
		var div2_1 = $("<div></div>");
		div2_1.addClass("col-md-3");
		
		
		
		for (var i = 0; msg.map.type2[i] != null; i++) {
			var a2 = $("<a></a>");
			a2.attr("href","#");
			a2.attr("class","thumbnail");
			var img2 = $("<img/>");
			img2.attr("src",msg.map.p+msg.map.type2[i].path);
			var but = $("<button></button>");
			but.addClass("btn btn-danger img_delete_btn");
			but.attr("type", "button");
			but.append("删除");
			but.attr("val",msg.map.type2[i].id);
			a2.append(img2).append(but);
			div2_1.append(a2);
		}
		if(i==0){
			var a2 = $("<a></a>");
			a2.attr("href","#");
			a2.attr("class","thumbnail");
			var img2 = $("<img/>");
			img2.attr("src","../static/img/"+"1.jpg");
			a2.append(img2);
			div2_1.append(a2);
		}
		
		var input2 = $("<input/>");
		input2.attr("type","file").attr("name","file2").attr("class","file_img");
		var hr2 = $("<hr/>");
		
		div2_1.append(input2);
		div2.append(la2).append(div2_1);
		form.append(div2).append(hr2);
		
		
		//类型3
		var div3 = $("<div></div>");
		div3.addClass("row");
		var la3 = $("<label></label>");
		la3.addClass("col-sm-4 control-label");
		la3.attr("style","padding-top: 55px; text-align: right; font-size: 18px; font-family: 楷体;");
		la3.append("详细介绍图片:");
		var div3_1 = $("<div></div>");
		div3_1.addClass("col-md-3");
		for (var i = 0; msg.map.type3[i] != null; i++) {
			var a3 = $("<a></a>");
			a3.attr("href","#");
			a3.attr("class","thumbnail");
			var img3 = $("<img/>");
			img3.attr("src",msg.map.p+msg.map.type3[i].path);
			var but = $("<button></button>");
			but.addClass("btn btn-danger img_delete_btn");
			but.attr("type", "button");
			but.append("删除");
			but.attr("val",msg.map.type3[i].id);
			a3.append(img3).append(but);
			div3_1.append(a3);
		}
		
		if(i==0){
			var a3 = $("<a></a>");
			a3.attr("href","#");
			a3.attr("class","thumbnail");
			var img3 = $("<img/>");
			img3.attr("src","../static/img/"+"1.jpg");
			a3.append(img3);
			div3_1.append(a3);
		}
		
		var input3 = $("<input/>");
		input3.attr("type","file").attr("name","file3").attr("class","file_img");
		
		div3_1.append(input3);
		div3.append(la3).append(div3_1);
		form.append(div3);
		
		$(".file_img").each(function() {
			$(this).fileinput({
				showUpload : false,
				showCaption : false,
				browseClass : "btn btn-primary btn-lg",
				fileType : "any",
			});
		});
		
		
		$("#form_img").find(".img_delete_btn").each(function(){
			var id = $(this).attr("val");
			var ele = $(this);
			$(this).click(function(){
				del_img(ele,id);
			});
			
			
		});
	}
	
	function del_img(ele,id) {
		layer.confirm('确认要删除吗？', function(index) {
			$.ajax({
				url : "../delete_pic",
				data : "id=" + id,
				type : "post",
				success : function(msg) {
					$(ele).prev().attr("src",msg.map.p+"1.jpg");
					$(ele).remove();
					layer.msg('已删除!', {
						icon : 1,
						time : 2000
					});
				},
				error : function() {
					layer.msg('删除失败!', {
						icon : 2,
						time : 2000
					});
				}
			});

		});
	}
	
	//查找类型
	function select_category(id) {
		var val = null;
		$.ajax({
			url : "../select_category",
			data : "id=" + id,
			async : false,//同步运行
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					val = msg.map.category.type;
				} else {
					layer.msg('类型查找失败!', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('类型查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
		return val;
	}
	//页码
	function to_page_info(msg) {
		$("#page_info").empty();
		$("#page_info").append(
				"当前第" + msg.map.pageInfo.pageNum + "页,一共有"
						+ msg.map.pageInfo.pages + "页,一共有"
						+ msg.map.pageInfo.total + "条数据");
		pages = msg.map.pageInfo.pages + 1;
	}
	//页码
	function to_page_nav(msg) {
		$("#page_nav").empty();
		//nav
		var nav = $("<nav></nav>");

		//ul
		var ul = $("<ul></ul>").addClass("pagination");

		//首页
		var firstPageLi = $("<li></li>").append(
				$("<a></a>").append("首页").attr("href", "#"));
		ul.append(firstPageLi);
		firstPageLi.click(function() {
			$("#page_message").val(1);
			request_list2(1);
		});
		//上一页
		var prePageLi = $("<li></li>").append(
				$("<a></a>").append("&laquo;").attr("href", "#"));
		ul.append(prePageLi);
		if (msg.map.pageInfo.hasPreviousPage == false) {
			firstPageLi.addClass("disabled");
			prePageLi.addClass("disabled");
		} else {
			prePageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum - 1);
				request_list2(msg.map.pageInfo.pageNum - 1);
			});
		}
		//页码
		$.each(msg.map.pageInfo.navigatepageNums, function(index, item) {
			var numLi = $("<li></li>").append(
					$("<a></a>").append(item).attr("href", "#"));
			if (msg.map.pageInfo.pageNum == item) {
				numLi.addClass("active");
			}
			numLi.click(function() {
				$("#page_message").val(item);
				request_list2(item);
			});
			ul.append(numLi);
		});

		//下一页
		var nextPageLi = $("<li></li>").append(
				$("<a></a>").append("&raquo;").attr("href", "#"));
		ul.append(nextPageLi);
		//末页
		var lastPageLi = $("<li></li>").append(
				$("<a></a>").append("末页").attr("href", "#"))
		ul.append(lastPageLi);
		if (msg.map.pageInfo.hasNextPage == false) {
			nextPageLi.addClass("disabled");
			lastPageLi.addClass("disabled");
		} else {
			nextPageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum + 1);
				request_list2(msg.map.pageInfo.pageNum + 1);
			});
		}
		lastPageLi.click(function() {
			$("#page_message").val(msg.map.pageInfo.pages);
			request_list2(msg.map.pageInfo.pages);
		});
		//
		nav.append(ul).appendTo("#page_nav");
	}
</script>
</head>

<body>
<input type="hidden" id="page_message" value="1"/>
	<div class="x-body">
		<div class="layui-row">
			<div class="layui-col-md12 x-so">
				<input type="text" name="search" placeholder="请输入商品名"
					class="layui-input" id="search_p">
				<button class="layui-btn" id="search">
					<i class="layui-icon">&#xe615;</i>
				</button>
				<div id="message"></div>
			</div>
		</div>
		<button class="layui-btn" id="product_add">
			<i class="layui-icon"></i>添加
		</button>
		<table class="layui-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>商品图像</th>
					<th>商品名</th>
					<th>商品价格</th>
					<th>单位</th>
					<th>类型</th>
					<th>月销量</th>
					<th>总销量</th>
					<th>是否上架</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="page">
			<div id="page_info"></div>
			<div id="page_nav"></div>
		</div>

	</div>


	<!-- 添加模态框 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加商品</h4>
				</div>
				<div class="modal-body">
					<form id="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>商品名:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="name1" name="name"
									placeholder="商品名">示例:品牌名/商品名xxx
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>商品价格:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="price1" name="price"
									placeholder="商品价格">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>单位:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="spec1" name="spec"
									placeholder="单位">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>类型:</label>
							<div class="col-sm-6">
								<select name="categoryId" id="category_id">

								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;">简介:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="remark"
									name="remark" placeholder="简介">示例:属性:参数/属性:参数/......
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;">详细介绍:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="xremark"
									name="xremark" placeholder="详细介绍">示例:属性:参数/属性:参数/......
							</div>
						</div>
					</form>
					<div class="layui-form-item" align="center">
						<label for="L_repass" class="layui-form-label"> </label>
						<button class="layui-btn" id="product_add1">增加</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- 图像模态框 -->
	<div class="modal fade" id="myModal_img" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改图像</h4>
				</div>
				<div class="x-body">
					<form id="form_img">
						<!-- <img src="..." alt="..." class="img-thumbnail"> -->
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save_img">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>



	<!-- 修改模态框 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改商品</h4>
				</div>
				<div class="modal-body">
					<form id="form_update" class="form-horizontal">
					<input  type="hidden" name="id" id="productId"/>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>商品名:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="name2" name="name"
									placeholder="商品名">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>商品价格:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="price2" name="price"
									placeholder="商品价格">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>单位:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="spec2" name="spec"
									placeholder="单位">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;"><span
								class="x-red">*</span>类型:</label>
							<div class="col-sm-6">
								<select name="categoryId" id="category_id2">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;">简介:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="remark2"
									name="remark" placeholder="简介">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
								style="padding-top: 5px; text-align: right; font-size: 18px; font-family: 楷体;">详细介绍:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="xremark2"
									name="xremark" placeholder="详细介绍">
							</div>
						</div>
					</form>
					<div class="layui-form-item" align="center">
						<label for="L_repass" class="layui-form-label"> </label>
						<button class="layui-btn" id="update_product">修改</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>