<!DOCTYPE html>
<html>

<head>
<title>报表界面</title>
	<meta charset="UTF-8"/>
<link rel="stylesheet"
	href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>

<body>
	<input type="hidden" id="page_message" value="1" />
	<div class="x-body">
		<div class="layui-row">
			<div class="layui-form layui-col-md12 x-so">
				<input class="layui-input" placeholder="开始日" name="start" id="start">
				<input class="layui-input" placeholder="截止日" name="end" id="end">
				<button class="layui-btn">
					<i class="layui-icon">&#xe615;</i>
				</button>
				<div id="message"></div>
			</div>
		</div>
		<table class="layui-table">
			<thead>
				<tr>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="page">
			<div id="page_info"></div>
			<div id="page_nav"></div>
		</div>
	</div>

</body>
<script type="text/javascript">
	$(function() {
		//商品列表
		$(".layui-btn").click(
				function() {
					$.ajax({
						url : "../report_search",
						data : "start=" + $("#start").val() + "&end="
								+ $("#end").val(),
						type : "post",
						success : function(msg) {
							if (msg.code == 100) {
								//类型列表
								$("#page_message").val(1);
								request_list2(1);
							} else {
								layer.msg('查找不存在!', {
									icon : 2,
									time : 2000
								});
							}
						},
						error : function(msg) {
							layer.msg('查找不存在!', {
								icon : 2,
								time : 2000
							});
						}
					});
				});

	});
	//订单列表
	function request_list2(pageNum) {
		var tbody = $("#tbody");
		tbody.empty();
		$.ajax({
			url : "../report_list",
			data : "pageNum=" + pageNum,
			type : "post",
			success : function(msg) {
				if (msg.code == 100) {
					//类型列表
					forder_list(msg.map.pageInfo);
					to_page_nav(msg);
					to_page_info(msg);
					if (msg.map.sear != undefined) {
						$("#message").empty();
						$("#message").append("当前搜索关键字:").append(msg.map.sear);
					} else {
						$("#message").empty();
					}
				} else {
					layer.msg('查找失败!请确认查找条件是否完整。', {
						icon : 2,
						time : 2000
					});
				}
			},
			error : function(msg) {
				layer.msg('查找失败!', {
					icon : 2,
					time : 2000
				});
			}
		});
	}
	
	
	
	//报表列表
	function forder_list(msg) {
		var tbody = $("tbody");
		tbody.empty();
		for (var i = 0; msg.list[i] != null; i++) {
			var tr = $("<tr></tr>");

			var td2 = $("<td></td>");
			td2.append(msg.list[i].id);
			var td3 = $("<td></td>");
			td3.append(msg.list[i].price);
			var td4 = $("<td></td>");
			td4.append(msg.list[i].number);

			tr.append(td2).append(td3).append(td4);

			tbody.append(tr);

		}
	}
	

	//页码
	function to_page_info(msg) {
		$("#page_info").empty();
		$("#page_info").append(
				"当前第" + msg.map.pageInfo.pageNum + "页,一共有"
						+ msg.map.pageInfo.pages + "页,一共有"
						+ msg.map.pageInfo.total + "条数据");
		pages = msg.map.pageInfo.pages + 1;
	}
	//页码
	function to_page_nav(msg) {
		$("#page_nav").empty();
		//nav
		var nav = $("<nav></nav>");

		//ul
		var ul = $("<ul></ul>").addClass("pagination");

		//首页
		var firstPageLi = $("<li></li>").append(
				$("<a></a>").append("首页").attr("href", "#"));
		ul.append(firstPageLi);
		firstPageLi.click(function() {
			$("#page_message").val(1);
			request_list2(1);
		});
		//上一页
		var prePageLi = $("<li></li>").append(
				$("<a></a>").append("&laquo;").attr("href", "#"));
		ul.append(prePageLi);
		if (msg.map.pageInfo.hasPreviousPage == false) {
			firstPageLi.addClass("disabled");
			prePageLi.addClass("disabled");
		} else {
			prePageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum - 1);
				request_list2(msg.map.pageInfo.pageNum - 1);
			});
		}
		//页码
		$.each(msg.map.pageInfo.navigatepageNums, function(index, item) {
			var numLi = $("<li></li>").append(
					$("<a></a>").append(item).attr("href", "#"));
			if (msg.map.pageInfo.pageNum == item) {
				numLi.addClass("active");
			}
			numLi.click(function() {
				$("#page_message").val(item);
				request_list2(item);
			});
			ul.append(numLi);
		});

		//下一页
		var nextPageLi = $("<li></li>").append(
				$("<a></a>").append("&raquo;").attr("href", "#"));
		ul.append(nextPageLi);
		//末页
		var lastPageLi = $("<li></li>").append(
				$("<a></a>").append("末页").attr("href", "#"))
		ul.append(lastPageLi);
		if (msg.map.pageInfo.hasNextPage == false) {
			nextPageLi.addClass("disabled");
			lastPageLi.addClass("disabled");
		} else {
			nextPageLi.click(function() {
				$("#page_message").val(msg.map.pageInfo.pageNum + 1);
				request_list2(msg.map.pageInfo.pageNum + 1);
			});
		}
		lastPageLi.click(function() {
			$("#page_message").val(msg.map.pageInfo.pages);
			request_list2(msg.map.pageInfo.pages);
		});
		//
		nav.append(ul).appendTo("#page_nav");
	}

	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem : '#start' //指定元素
		});

		//执行一个laydate实例
		laydate.render({
			elem : '#end' //指定元素
		});
	});
</script>
</html>