<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>jQuery网页验证码插件</title>

<link rel="stylesheet" type="text/css" href="css/verify.css">

</head>
<body>

<h1>verify</h1>

<br><br>

<h3>普通验证码</h3>
<div id="mpanel2" >
</div>

<button type="button" id="check-btn" class="verify-btn">确定</button>


<div id="mpanel3" style="margin-top: 20px">
</div>

<button type="button" id="check-btn2" class="verify-btn">确定</button>

<h3>滑动验证码</h3>
<div id="mpanel1" >
</div>

<div id="mpanel4" style="margin-top:50px;">
</div>


<h3>点选验证码</h3>
<div id="mpanel5" style="margin-top:50px;">
</div>

<div id="mpanel6" style="margin-top:50px;">
</div>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/verify.js" ></script>
</body>
</html>