<!DOCTYPE html>
<html>
<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../css/layer.css">
<link rel="stylesheet" href="../css/style2.css">


<script src="../js/jquery-3.3.1.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/layer.js"></script>
<script type="text/javascript" src="../js/common.js"></script>


<script type="text/javascript">
    $(function () {

        //上面的提示优惠(优惠券)
        $.post("../Coupon/getMyCoupon", function (msg) {
            if (msg.code != 200) {
                $("#tip_coupon").html("电器商城大酬宾！买满5000即送无门槛优惠券!");
            } else {
                $("#tip_coupon").html("您的优惠券已享优惠:省￥58.50");
            }
        });

        //点击搜索按钮，新建一个超链接跳转到商品搜索界面
        $("#ai-topsearch").click(
            function () {
                var productname = $("#searchInput").val();
                var span = $("<span></span>").append("搜索界面");
                var a = $("<a></a>").attr("href",
                    "search.html?productname=" + productname)
                    .attr("target", "_blank").append(span);
                span.click();
            });
        //设置点击结算按钮事件
        $("#J_Go").click(function () {

            var setting = [];
            var i = 0;
            $(".orderItemNumberSetting").each(function () {
                setting[i++] = $(this).val();
            });
            i=0;
            $(".productId").each(function () {
                array[i++] = $(this).val();
            });

            $.post("../Order/addSorderToForder", "id=" + array + "&setting=" + setting, function (data, status) {
                if (data.code == 200)
                    $(location).prop("href", "pay.html?forderId=" + data.data.forderId);
            });


            //$("#J_Go").attr("href","pay.jsp?allmoney="+now);
        });


        //页面一加载，判断用户是否登录，根据结果改变左上角的样式
        $.post("../User/check_login", function (msg, status) {
            if (msg.code == 200) {
                //登录成功

                var a = $("<a></a>").attr("href", "#").addClass("h").append("欢迎你! " + msg.data.name);
                var logout = $("<a></a>").attr("href", "#").append("&nbsp;  &nbsp;  退出登录");
                var div = $("#login_status");
                div.append(a).append(logout);

                //点击退出登录
                logout.click(function () {
                    /*  if(confirm("确定退出登录?")){
                         $.post("../User/logout",function(data){
                               $(location).prop("href","home.html");
                              });
                        } */
                    layer.msg('确定退出登录?', {
                        time: 0 //不自动关闭
                        , btn: ['确定', '取消']
                        , yes: function (index) {
                            $.post("../User/logout", function (data) {
                                $(location).prop("href", "home.html");
                            });
                            layer.close(index);
                        }
                    });
                });


                //改变购物车的数字
                $.post("../Order/getSorderById", function (data, status) {

                    if (data.code == 200) {
                        $("#J_MiniCartNum").html(data.data.list.length);
                        $("#shop_cart_number").html(data.data.list.length);
                    } else {
                        $("#J_MiniCartNum").html(0);
                        $("#shop_cart_number").html(0);
                    }
                });
                getMyShopCart();


            } else {
                //登录失败

                var a = $("<a></a>").attr("href", "login.html").addClass("h").append("亲，请登录  ");
                var b = $("<a></a>").attr("href", "register.html").append("免费注册");
                var div = $("#login_status");
                layer.msg('您还没有登录，马上为您跳转到登录界面！', {icon: 5, time: 2000});
                setTimeout(function () {
                    $(location).prop('href', 'login.html');
                }, 2000);
                div.append(a).append(b);
            }
        });


        //请求拿到自己的购物车
        function getMyShopCart() {
            //POST 请求拿到自己的购物车
            $.post("../Order/getSorderById", function (mess, status) {

                //加载购物车列表
                if (mess.code == 200) {
                    item_list(mess);
                    acccction();
                }
            });
        }

    });
    var total = 0;
    var now = 0;

    var array = new Array();
    var length = 0;


    function item_list(msg) {
        var i = 0;
        var oiid = 7000;
        var pid = 400;
        var div = $("tbody");
        div.empty();

        $.each(msg.data.list, function (index, item) {
            var tr = $("<tr></tr>");
            var aaa = oiid++;
            var ppid = pid++;
            tr.attr("oiid", aaa);
            tr.attr("class", "cartProductItemTR");

            $.post("../Product/SelectProductById", "id=" + item.productId, function (products, status) {

                var product = products.data.product;
                var img1 = $("<img/>");
                img1.addClass("cartProductImg");
                var img2 = $("<img/>");
                img2.attr("selectit", "false");
                img2.attr("oiid", aaa);
                img2.addClass("cartProductItemIfSelected");
                img2.attr("src", "../images/noright.png");
                var img3 = $("<img/>");
                var a1 = $("<a style=\"display:none\" href=\"#nowhere\"><img src=\"../images/right.png\"></a>")
                var td1 = $("<td></td>");
                $.ajax({
                    url: "../Pic/selectPicByProductType",
                    data: "id=" + product.id + "&type=" + 1,
                    type: "post",
                    success: function (ms) {
                        if (ms.code == 200)
                            img1.attr("src", fileURL + ms.data.pic_list[0].path);
                        else
                            img1.attr("src", fileURL + "no_img.jpg");
                    },
                    error: function (msg) {
                        img1.attr("src", fileURL + "no_img.jpg");
                    }
                });
                td1.append(img2).append(a1).append(img1);

                var td2 = $("<td></td>");
                var div1 = $("<div class=\"cartProductLinkOutDiv\"></div>");
                var a2 = $("<a class=\"cartProductLink\"></a>");
                a2.attr("href", "introduction.html?id=" + product.id);
                a2.append(product.name);
                div1.append(a2);
                td2.append(div1);


                var td3 = $("<td></td>");
                var span1 = $("<span  class=\"cartProductItemPromotionPrice\"></span>");
                span1.append(product.price);
                td3.append(span1);


                var td4 = $("<td></td>");
                var div4 = $("<div class=\"cartProductChangeNumberDiv\"></div>");
                var span4_1 = $("<span class=\"hidden orderItemStock \"></span>");
                var span4_2 = $("<span class=\"hidden orderItemPromotePrice \"></span>");
                span4_1.attr("pid", ppid);
                span4_2.attr("pid", ppid);
                span4_1.append(product.stock);
                span4_2.append(product.price);
                var a4_1 = $(" <a  class=\"numberMinus\" href=\"#nowhere\">-</a>");
                var a4_2 = $(" <a  class=\"numberPlus\" href=\"#nowhere\">+</a>");
                a4_1.attr("pid", ppid);
                a4_2.attr("pid", ppid);
                a4_2.attr("stock", product.stock);
                var inp4 = $("<input class=\"orderItemNumberSetting\" autocomplete=\"off\" value=\"1\"/>");
                var input4 = $("<input type='hidden' class='productId'/>");
                input4.val(item.id);
                inp4.attr("pid", ppid);
                inp4.attr("oiid", aaa);
                div4.append(span4_1).append(input4).append(span4_2).append(a4_1).append(inp4).append(a4_2);
                td4.append(div4);


                var td5 = $("<td></td>");
                var span5_1 = $("<span class=\"cartProductItemSmallSumPrice \"></span>");
                span5_1.attr("pid", ppid);
                span5_1.attr("oiid", aaa);
                span5_1.append(product.price);
                td5.append(span5_1);


                // var la = $("<label></label>");
                // la.attr("for", "J_CheckBox_170037950254");
                // div6.append(input).append(la);
                // li6.append(div6);

                var td7 = $("<td></td>");
                var div7 = $("<div></div>");
                div7.addClass("td-inner");

                var a7_2 = $("<button></button>");
                a7_2.addClass("delete btn btn-danger deleteOrderItem");

                a7_2.attr("data-point-url", "#").attr("href", "#nowhere").attr("oiid", aaa);

                a7_2.append("删除");

                a7_2.click(function () {

                    $.post("../Order/deleteSorderById", "id=" + item.id, function (delete_message, status) {
                        if (delete_message.code == 200)

                        //删除成功之后重新加载购物车列表
                            $.post("../Order/getSorderById", function (mess, status) {
                                if (mess == 200) {
                                    item_list(mess);
                                    acccction();
                                }
                            });
                    });
                });

                div7.append(a7_2);
                td7.append(div7);

                tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td7);
                div.append(tr);
                a4_2.click(function () {

                    var pid = $(this).attr("pid");
                    var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                    var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();
                    var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();

                    num++;
                    if (num > stock)
                        num = stock;
                    syncPrice(pid, num, price);
                });
                a4_1.click(function () {
                    var pid = $(this).attr("pid");
                    var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                    var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();

                    var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();
                    --num;
                    if (num <= 0)
                        num = 1;
                    syncPrice(pid, num, price);
                });
                inp4.keyup(function () {
                    var pid = $(this).attr("pid");
                    var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                    var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();

                    var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();
                    num = parseInt(num);
                    if (isNaN(num))
                        num = 1;
                    if (num <= 0)
                        num = 1;
                    if (num > stock)
                        num = stock;

                    syncPrice(pid, num, price);
                });
                img2.click(function () {
                    var selectit = $(this).attr("selectit");
                    if ("selectit" == selectit) {
                        $(this).attr("src", "../images/noright.png");
                        $(this).attr("selectit", "false");
                        $(this).parents("tr.cartProductItemTR").css("background-color", "#fff");
                    }
                    else {
                        $(this).attr("src", "../images/right.png");
                        $(this).attr("selectit", "selectit");
                        $(this).parents("tr.cartProductItemTR").css("background-color", "#FFF8E1");
                    }
                    syncSelect();
                    syncCreateOrderButton();
                    calcCartSumPriceAndNumber();
                });
            });
        });

    }
$(function () {
    $("#aaaaa").click(function () {
        var vala = [];
        var i = 0;
        $('.text1').each(function(){
            vala[i++] = $(this).val();
        });
        console.log(vala);
    })
});
</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>购物车页面</title>

    <link href="../css/amazeui.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="../css/cartstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../css/optstyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>

</head>

<body>

<!--顶部导航条 -->
<div class="am-container header">
    <ul class="message-l">
        <div class="topMessage">
            <div class="menu-hd" id="login_status">

            </div>
        </div>
    </ul>
    <ul class="message-r">
        <div class="topMessage home">
            <div class="menu-hd">
                <a href="home.html" target="_top" class="h">商城首页</a>
            </div>
        </div>
        <div class="topMessage my-shangcheng">
            <div class="menu-hd MyShangcheng">
                <a href="test_main.html" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
            </div>
        </div>
        <div class="topMessage mini-cart">
            <div class="menu-hd">
                <a id="mc-menu-hd" href="shopcart.html" target="_top"><i
                        class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong
                        id="J_MiniCartNum" class="h">0</strong></a>
            </div>
        </div>
        <div class="topMessage favorite">
            <div class="menu-hd">

            </div>
        </div>
    </ul>
</div>

<!--悬浮搜索框-->

<div class="nav white">
    <div class="logo">
        <img src="../images/logo.png"/>
    </div>
    <div class="logoBig">
        <li><img src="../images/logobig.png"/></li>
    </div>

    <div class="search-bar pr">
        <a name="index_none_header_sysc" href="#"></a>
        <div>
            <input id="searchInput" name="index_none_header_sysc" type="text"
                   placeholder="搜索" autocomplete="off"> <input
                id="ai-topsearch" class="submit am-btn" value="搜索" index="1"
                type="submit">
        </div>
    </div>
</div>

<div class="clear"></div>


    <div class="navCir">
        <li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
        <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
        <li class="active"><a href="shopcart.html"><i
                class="am-icon-shopping-basket"></i>购物车</a></li>
        <li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>
    </div>
</div>
</body>


<!---------------------------------------------------------------------------------------------------------------->
<hr>
<div class="cartDiv">
    <div class="cartProductList">
        <table class="cartProductTable">
            <thead>
            <tr>
                <th class="selectAndImage">
                    <img selectit="false" class="selectAllItem" src="../images/noright.png">
                    全选

                </th>
                <th>商品信息</th>
                <th>单价</th>
                <th>数量</th>
                <th width="120px">金额</th>
                <th class="operation">操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>

    <div class="cartFoot">
        <img selectit="false" class="selectAllItem" src="../images/noright.png" >

        <div class="pull-right">
            <span>已选商品 <span class="cartSumNumber">0</span> 件</span>

            <span>合计 (不含运费): </span>
            <span class="cartSumPrice">￥0.00</span>
            <button class="J_GO createOrderButton" disabled="disabled">结 算</button>
        </div>

    </div>

</div>


</html>
<script type="text/javascript" src="../js/style2.js"></script>